* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  // text-align: center;
  // width: 120px;
  // height: 56px;
  // background-color: #d41818;
  // color: transparent;
  // border-radius: 30px;
}
